<!DOCTYPE html>

<html>
    <head>
        <%- include partials/head.ejs %>    
    </head>

    <body>
        <%- include partials/header.ejs %>

        <%- include partials/user-navigation.ejs %>

        <%- include partials/site-navigation.ejs %>

        <!-- Main Content Area -->
        <main>
            <section id="breadcrumb">
                <button name="back" class="button__bubble button__bubble--small" onclick="history.back()">Go Back</button>
                <a href="/" class="button__bar">Home</a> > 
                <a href="/about" class="button__bar">About</a>
            </section>
            <section class="content content--centered static">
                <div class="content__wrapper">
                    <h2>Stay tuned!</h2>
                    <p>
                        The artist catalog and individiual artist pages will be coming 
                        soon once we get into proper database development.
                    </p>
                </div>
            </section>
        </main>

        <%- include partials/footer.ejs %>
    </body>
</html>