<!DOCTYPE html>

<html>
    <head>
        <%- include partials/head.ejs %>    
    </head>

    <body>
        <%- include partials/header.ejs %>

        <%- include partials/user-navigation.ejs %>

        <%- include partials/site-navigation.ejs %>

        <!-- Main Content Area -->
        <main>
            <section id="breadcrumb">
                <button name="back" class="button__bubble button__bubble--small" onclick="history.back()">Go Back</button>
                <a href="/" class="button__bar">Home</a> > 
                <a href="/categories" class="button__bar">Categories</a> >
                <a href="/categories/<%= item.catalogCategory %>" class="button__bar"><%= item.catalogCategory %></a> >
                <a href="/categories/<%= item.catalogCategory %>/<%= item.itemCode %>" class="button__bar"><%= item.itemName %></a>
            </section>
            <section id="album-content">
                <div class="content__wrapper album-content__wrapper">
                    <div class="album-content__info">
                        <img src="<%= item.imageURL %>" alt="<%= item.itemName %> Album Cover" class="album-content__info--image">
                        <div class="album-content__info--data">
                            <div class="album-content__info--data-header">
                                <h2><%= item.itemName %></h2>
                                <span class="rating">
                                    <% for(let j = 1; j <= item.rating; j++) { %>
                                        <i class="fas fa-star checked"></i>
                                    <% } %>
                                    <% for(let j = 5; j > item.rating; j--) { %>
                                        <i class="fas fa-star"></i>
                                    <% } %>
                                </span>
                            </div>
                            <h3><%= item.artist %></h3>
                            <h3><%= item.year %> | &copy; <%= item.recordLabel %></h3>
                            <p>
                                <%= item.description %>
                            </p>
                            <% if(owned == false) { %>
                                <% if(count > 0) { %>
                                    <a href="/mySwaps?action=offer&theItem=<%= item._id %>" class="button__bubble button__bubble--medium">Swap It (<%= count %> Available)</a>
                                <% } else { %> 
                                    <span class="button__bubble--medium button__bubble--inactive">None available at this time</span>
                                <% } %>
                            <% } else { %>
                                <span class="button__bubble--medium button__bubble--inactive">You own this item</span>
                            <% } %>
                            <a href="/categories/<%= item.catalogCategory %>/<%= item.itemCode %>" class="button__bubble button__bubble--medium">Rate It</a>
                        </div>
                    </div>
                    <div class="album-content__tracks">
                        <% if(item.tracks.length != 0) { %>
                            <table>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Artist</th>
                                    <th><i class="fas fa-clock"></i></th>
                                </tr>
                                <% item.tracks.forEach((track) => { %>
                                    <tr>
                                        <td><%= track.number %></td>
                                        <td><%= track.title %></td>
                                        <td>
                                            <% for(let i = 0; i < track.artists.length; i++) { %>
                                                <% if(i + 1 == track.artists.length) { %>
                                                    <%= track.artists[i] %>
                                                <% } else { %>
                                                    <%= track.artists[i] + ', ' %>
                                                <% } %>
                                            <% } %>
                                        </td>
                                        <td><%= track.length %></td>
                                    </tr>
                                <% }); %>
                            </table>
                        <% } else { %>
                            <h3>No track information available at this time.</h3>
                        <% } %>  
                    </div>
                </div>
            </section>

        </main>
        
        <%- include partials/footer.ejs %>
    </body>
</html>