<!DOCTYPE html>

<html>
    <head>
        <%- include partials/head.ejs %>    
    </head>

    <body>
        <%- include partials/header.ejs %>

        <%- include partials/user-navigation.ejs %>

        <%- include partials/site-navigation.ejs %>

        <!-- Main Content Area -->
        <main>
            <section id="breadcrumb">
                <button name="back" class="button__bubble button__bubble--small" onclick="history.back()">Go Back</button>
                <a href="/" class="button__bar">Home</a> > 
                <a href="/myitems" class="button__bar">My CDs</a>
            </section>
            <section class="content__shell">
                <div class="content__wrapper content__wrapper--extended">
                    <h2 class="section--header">Your CDs for Swap</h2>
                    <% if(typeof items !== 'undefined' && items.length > 0) { %>
                        <table>
                            <tr>
                                <th>Album</th>
                                <th>Artist</th>
                                <th>Year</th>
                                <th>Category</th>
                                <th>Rating</th>
                                <th></th>
                            </tr>
                            <% items.forEach(function(item) {%>
                                <tr>
                                    <td><a href="/categories/<%= item.catalogCategory %>/<%= item._id %>" class="button__bar button__bar--small"><%= item.itemName %></a></td>
                                    <td><a href="/artists" class="button__bar button__bar--small"><%= item.artist %></a></td>
                                    <td><%= item.year %></td>
                                    <td><a href="/categories/<%= item.catalogCategory %>" class="button__bar button__bar--small"><%= item.catalogCategory %></a></td>
                                    <td>
                                        <span class="rating">
                                            <% for(var j = 1; j <= item.rating.value; j++) { %>
                                                <i class="fas fa-star checked"></i>
                                            <% } %>
                                            <% for(var j = 5; j > item.rating.value; j--) { %>
                                                <i class="fas fa-star"></i>
                                            <% } %>
                                        </span>
                                    </td>
                                    <td>
                                        <a href="/myItems?action=update&theItem=<%= item._id %>" class="button__bubble button__bubble--small">Update</a>
                                        <button onclick="deleteItemPrompt('<%= item._id %>')" class="button__bubble button__bubble--small">Delete</button>
                                    </td>
                                </tr>
                            <% }); %>
                        </table>
                        <br>
                        <button class="button__bubble button__bubble--medium modal__select--trigger">Add another CD</a>
                    <% } else if (theUser.user == true) { %>
                        <h3>There's no CDs to show!  Time to start adding some CDs to your account!</h3>
                        <a href="#" class="button__bubble button__bubble--medium modal__select--trigger">Add a CD</a>
                    <% } else { %>
                        <h3>There's no CDs to show!  Please log in.</h3>
                    <% } %>
                </div>
            </section>
        </main>
        
        <%- include partials/footer.ejs %>

        <% if(theUser.user == true) { %>
            <div class="modal modal__select">
                <div class="modal--content modal__select--content">
                    <div class="modal__select--header">
                        <span class="modal--close">&times;</span>
                        <h2>Add an Item:</h2>
                    </div>
                    <div class="modal__select--table-container">
                        <table class="item-select__table">
                            <tr>
                                <th colspan="2">Album</th>
                                <th>Artist</th>
                                <th>Category</th>
                                <th style="text-align: center"><i class="fas fa-plus"></i></th>
                            </tr>
                            <% allItems.forEach((item) => { %>
                                <tr>
                                    <td><img src="/Images/AlbumCovers/<%= item._id %>.jpg" alt="<%= item.itemName %> Album Cover" class="image-icon"></td>
                                    <td><a href="/categories/<%= item.catalogCategory %>/<%= item._id %>" class="button__bar button__bar--small"><%= item.itemName %></a></td>
                                    <td><%= item.artist %></td>
                                    <td><a href="/categories/<%= item.catalogCategory %>" class="button__bar button__bar--small"><%= item.catalogCategory %></a></td>
                                    <td style="text-align: center"><a href='/addItem?item=<%= item._id %>' class="button__bubble button__bubble--small">Add</a></td>
                                </tr>
                            <% }); %>
                        </table>
                    </div>
                </div>
            </div>
        <% } %>

        <script>
            function deleteItemPrompt(itemId) {
                if(confirm("Are you sure you want to delete this CD from your profile?")) {
                    window.location = '/myItems?action=delete&theItem=' + itemId;
                }
            }
        </script>
    </body>
</html>