<!DOCTYPE html>

<html>
    <head>
        <%- include partials/head.ejs %>    
    </head>

    <body>
        <%- include partials/header.ejs %>

        <%- include partials/user-navigation.ejs %>

        <%- include partials/site-navigation.ejs %>

        <!-- Main Content Area -->
        <main>
            <section id="breadcrumb">
                <button name="back" class="button__bubble button__bubble--small" onclick="history.back()">Go Back</button>
                <a href="/" class="button__bar">Home</a> > 
                <a href="/myswaps" class="button__bar">My Swaps</a>
            </section>
            <section class="content__shell">
                <div class="content__wrapper">
                    <h2 class="section--header">Your Swap Offers</h2>
                    <% if(typeof mySwaps !== 'undefined') { %>
                        <table>
                            <tr>
                                <th>Your Album</th>
                                <th>Their Album</th>
                                <th>Status</th>
                                <th></th>
                            </tr>

                            <% mySwaps.forEach(function(swap) { %>
                                <% if(swap.status == 'Available') { %>
                                    <tr>
                                        <td><a href="/categories/<%= swap.item.catalogCategory %>/<%= swap.item._id %>" class="button__bar button__bar--small"><%= swap.item.artist %> - <%= swap.item.itemName %></a></td>
                                        <td>---</td>
                                        <td>Available</td>
                                        <td><a href="/mySwaps?action=withdraw&theItem=<%= swap.item._id %>" class="button__bubble button__bubble--small">Withdraw</a></td>
                                    </tr>
                                <% } %>
                            <% }) %>
                        </table>
                    <% } else if (theUser.user == true) { %>
                        <h3>There's no items to show!  Time to start adding some items to your account!</h3>
                        <a href="#" class="button__bubble button__bubble--medium">Add some items</a>
                    <% } else { %>
                        <h3>There's no items to show!  Please log in.</h3>
                    <% } %>
                </div>
            </section>
        </main>
        
        <%- include partials/footer.ejs %>
    </body>
</html>