<!DOCTYPE html>

<html>
    <head>
        <%- include partials/head.ejs %>    
    </head>

    <body>
        <%- include partials/header.ejs %>

        <%- include partials/user-navigation.ejs %>

        <%- include partials/site-navigation.ejs %>

        <!-- Main Content Area -->
        <main>
            <section id="breadcrumb">
                <button name="back" class="button__bubble button__bubble--small" onclick="history.back()">Go Back</button>
                <a href="/" class="button__bar">Home</a> > 
                <a href="/register" class="button__bar">Register</a>
            </section>
            <section class="content__shell">
                <div class="content__wrapper">
                    <h2 class="section--header">Register for CDXchange</h2>

                    <% if(errors && errors.length > 0) { %>
                        <!-- ERRORS -->
                        <div class="registration-errors">
                            <h3 class="registration-errors__header">The following error(s) occured: </h3>
                            <ul>
                                <% errors.forEach(error => { %>
                                    <li><%= error.msg %></li>
                                <% }) %>
                            </ul>
                        </div>
                    <% } %>

                    <form method="POST" action="/register" class="form__register">
                        <!-- Username/Password -->
                        <h3>Username and Password</h3>
                        <span class="form__register--field">
                            <label for="username">Username</label>
                            <% if (errors) { %>
                                <% if (errorParams.includes('username')) { %>
                                    <input class="input--error" type="text" name="username">
                                <% } else { %>
                                    <input type="text" name="username" value="<%= userInput.get('username') %>" placeholder="Note: Your username will be case-sensitive.">
                                <% } %>
                            <% } else { %>
                                <input type="text" name="username" placeholder="Note: Your username will be case-sensitive.">
                            <% } %>
                            
                        </span>
                        <br>
                        <span class="form__register--field">
                            <label for="password">Password</label>
                            <% if (errors && errorParams.includes('password')) { %>
                                <input class="input--error" type="password" name="password">
                            <% } else { %>
                                <input type="password" name="password" placeholder="Note: Your password will also be case-sensitive.">
                            <% } %>
                        </span>
                        <br>
                        <span class="form__register--field">
                            <label for="passwordConfirm">Retype Password</label>
                            <% if (errors && errorParams.includes('passwordConfirm')) { %>
                                <input class="input--error" type="password" name="passwordConfirm">
                            <% } else { %>
                                <input type="password" name="passwordConfirm">
                            <% } %>
                        </span>

                        <br><hr>

                        <!-- Personal Info -->
                        <h3>Personal Info <span class="subheader"><i class="fas fa-info-circle"></i> Used for sending and recieving CDs – Only your city and country will be public</span></h3>
                        <span class="form__register--field">
                            <label for="firstName">First Name</label>
                            <% if (errors) { %>
                                <% if (errorParams.includes('firstName')) { %>
                                    <input class="input--error" type="text" name="firstName">
                                <% } else { %>
                                    <input type="text" name="firstName" value="<%= userInput.get('firstName') %>">
                                <% } %>
                            <% } else { %>
                                <input type="text" name="firstName">
                            <% } %>
                        </span>
                        <br>
                        <span class="form__register--field">
                            <label for="lastName">Last Name</label>
                            <% if (errors) { %>
                                <% if (errorParams.includes('lastName')) { %>
                                    <input class="input--error" type="text" name="lastName">
                                <% } else { %>
                                    <input type="text" name="lastName" value="<%= userInput.get('lastName') %>">
                                <% } %>
                            <% } else { %>
                                <input type="text" name="lastName">
                            <% } %>
                        </span>
                        <br>
                        <span class="form__register--field">
                            <label for="Email">Email</label>
                            <% if (errors) { %>
                                <% if (errorParams.includes('email')) { %>
                                    <input class="input--error" type="email" name="email">
                                <% } else { %>
                                    <input type="email" name="email" value="<%= userInput.get('email') %>">
                                <% } %>
                            <% } else { %>
                                <input type="email" name="email">
                            <% } %>
                        </span>
                        <br>
                        <span class="form__register--field">
                            <label for="address1">Address</label>
                            <% if (errors) { %>
                                <% if (errorParams.includes('address1')) { %>
                                    <input class="input--error" type="text" name="address1">
                                <% } else { %>
                                    <input type="text" name="address1" value="<%= userInput.get('address1') %>">
                                <% } %>
                            <% } else { %>
                                <input type="text" name="address1">
                            <% } %>
                        </span>
                        <br>
                        <span class="form__register--field">
                            <label for="address2">Unit/Apartment</label>
                            <% if (errors) { %>
                                <input type="text" name="address2" placeholder="Optional" value="<%= userInput.get('address2') %>">
                            <% } else { %>
                                <input type="text" name="address2" placeholder="Optional">
                            <% } %>
                        </span>
                        <br>
                        <span class="form__register--field">
                            <label for="city">City</label>
                            <% if (errors) { %>
                                <% if (errorParams.includes('city')) { %>
                                    <input class="input--error" type="text" name="city">
                                <% } else { %>
                                    <input type="text" name="city" value="<%= userInput.get('city') %>">
                                <% } %>
                            <% } else { %>
                                <input type="text" name="city">
                            <% } %>
                        </span>
                        <br>
                        <span class="form__register--field">
                            <label for="area">State/Province</label>
                            <% if (errors) { %>
                                <% if (errorParams.includes('area')) { %>
                                    <input class="input--error" type="text" name="area">
                                <% } else { %>
                                    <input type="text" name="area" value="<%= userInput.get('area') %>">
                                <% } %>
                            <% } else { %>
                                <input type="text" name="area">
                            <% } %>
                        </span>
                        <br>
                        <span class="form__register--field">
                            <label for="postalCode">Postal Code</label>
                            <% if (errors) { %>
                                <% if (errorParams.includes('postalCode')) { %>
                                    <input class="input--error" type="text" name="postalCode">
                                <% } else { %>
                                    <input type="text" name="postalCode" value="<%= userInput.get('postalCode') %>">
                                <% } %>
                            <% } else { %>
                                <input type="text" name="postalCode">
                            <% } %>
                        </span>
                        <br>
                        <span class="form__register--field">
                            <label for="country">Country</label>
                            <% if (errors) { %>
                                <% if (errorParams.includes('country')) { %>
                                    <input class="input--error" type="text" name="country">
                                <% } else { %>
                                    <input type="text" name="country" value="<%= userInput.get('country') %>">
                                <% } %>
                            <% } else { %>
                                <input type="text" name="country">
                            <% } %>
                        </span>
                        <br>

                        <span class="form__register--submit">
                            <input type="submit" value="Register" class="button__bubble button__bubble--large">
                        </span>
                    </form>
                </div>
            </section>
        </main>
        
        <%- include partials/footer.ejs %>
    </body>
</html>